{% extends "base.html" %}
{% block content %}
<div class="row">
<div class="col">
<h1>Impressum</h1>
<p>Angaben gemäß § 5 TMG</p>
<p>Dr. Johannes Ammon<br> 
Wiesenstr. 19<br> 
47906 Kempen<br>
Telefon: 0176-61636711<br>
E-Mail: <a href='mailto:post@kita-rezepte.de'>post@kita-rezepte.de</a></p>

<h2>Haftung für Inhalte</h2>
Die Inhalte dieser Seiten werden von den Nutzern erstellt. Bei Kochrezepten sind rechtswidrige Inhalte nicht zu erwarten. Sollten dennoch durch die eingestellten Inhalte Rechtsverletzungen auftreten, werden wir diese bei Bekanntwerden von entsprechenden Rechtsverletzungen umgehend entfernen.
<h2>Urheberrecht</h2>
<p>Die Kochrezepte von <a href="https://kita-rezepte.de">kita-rezepte.de</a> dürfen von allen frei verwendet werden, Kochrezepte unterliegen als solche nicht dem Urheberrecht.
Die Verwendung der Rezeptsammlung als Ganzes bedarf der schriftlichen Zustimmung. </p> 
<p>Sofern Inhalte Dritter verwendet werden, werden diese als solche gekennzeichnet und die Urheberrechte beachtet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.</p>
<h2>Datenschutz</h2>
<p>Die Nutzung dieser Website ist ohne Angabe personenbezogener Daten möglich.</p>
<p>Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten durch Dritte zur Übersendung von nicht ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit ausdrücklich widersprochen. Die Betreiber der Seiten behalten sich rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen etwa durch Spam-Mails vor.</p>
</div>
</div>
{% endblock content %}
