{% extends "base.html" %}
{% load i18n %}
{% block content %}
  <div role="main" id="main-content">
    <div class="row">
      <div class="col">
        <h1>Passwort ändern</h1>
      </div>
    </div>
    <form action="" method="post">{% csrf_token %}
    {% if form.errors %}
      <div class="row">
        <div class="col">
          <p class="alert alert-danger">
          {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
          </p>
        </div>
      </div>
    {% endif %}

      <div class="row">
        <div class="col alert alert-primary" role="alert">Bitte geben Sie aus Sicherheitsgründen erst Ihr altes Passwort ein und darunter dann zweimal (um sicherzustellen, dass Sie es korrekt eingegeben haben) das neue Passwort.</div>
      </div>
      <div class="row form-group">
        <div class="col-md-3">
            {{ form.old_password.label_tag }} </div>
        <div class="col-md-9">
          {% if form.old_password.errors %}
            <div class="alert alert-danger">
              {{ form.old_password.errors }}</div>{% endif %}
          {{ form.old_password }} </div>
      </div>
      <div class="row form-group">
        <div class="col-md-3">
            {{ form.new_password1.label_tag }} </div>
        <div class="col-md-9">
          {% if form.new_password1.errors %}
            <div class="alert-danger">
              {{ form.new_password1.errors }}</div>{% endif %}
          {{ form.new_password1 }} 
          <small>
            <ul class="pl-3">
              <li>Das Passwort darf nicht zu ähnlich zu Ihren anderen persönlichen Informationen sein.</li>
              <li>Das Passwort muss mindestens 8 Zeichen enthalten.</li>
              <li>Das Passwort darf nicht allgemein üblich sein.</li>
              <li>Das Passwort darf nicht komplett aus Ziffern bestehen.</li>
            </ul>
          </small>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-3">
            {{ form.new_password2.label_tag }} </div>
        <div class="col-md-9">
          {% if form.new_password2.errors %}
            <div class="alert alert-danger">
              {{ form.new_password2.errors }}</div>{% endif %}
          {{ form.new_password2 }}
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-offset-3 col-md-9">
          <button type="submit" class="btn btn-primary">
            Mein Passwort ändern</button>
        </div>
      </div>
    </form>

  </div>
{% endblock content %}
{% block extrascripts %}
  <script type="text/javascript">document.getElementById("id_old_password").focus();</script>
{% endblock extrascripts %}
