.hidden {
	display: none;
}
/* Rezept-Eingabe */
.delete {
	font-size: larger;
	margin-right: 1em;
}
.zutat-form td {
	vertical-align: top;
}
.help_text {
	font-size: small;
	color: #666;
}
.inline-list ul {
	padding-left: 0;
}
.inline-list li {
	list-style: none;
	display: inline;
}
.menge_pro_einheit ul {
	display: inline;
}
.errorlist ul {
	padding-left: 0;
}
.errorlist li {
	list-style: none;
}
#id_menge_pro_einheit,
#id_preis_pro_einheit {
	width: 4em;
}
.editorwindow {
	margin-bottom: 1em;
}
.tag-row {
	margin-top: 1ex;
}
.monat-kategorien {
	float: left;
	color: #888;
}
.monat-preis {
	float: right;
}