{% extends "base.html" %}
{% block navigation %}{% endblock navigation %}
{% block content %}
  <div class="row">
    <div class="col-md-8 col-xs-12">
      <h1>Kita-Rezepte</h1>
      <p>Hier werden die Rezepte und Kochpläne von Tageseinrichtungen geplant, dargestellt und verwaltet.</p>
      <ul>
        {% for client in clients %}
          <li><a href="https://{{ client.get_domain }}">{{ client.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-md-4 col-xs-12">
      {% if request.user.is_authenticated and request.session.client_id %}
        <p>Hallo, {% firstof request.user.get_full_name request.user.get_username %}!</p>
        <p><a href="/monat">Zur Menueplanung</a></p>
      {% else %}
        <h2>Anmelden</h2>
        {% include "rezepte/login-form.html" %}
      {% endif %}
    </div>
  </div>
{% endblock content %}
