<form  method="post" action="{% url 'login' %}">
  {% csrf_token %}
  {% if form %}{{ form.non_field_errors }}{% endif %}
  <div class="form-group">
    {% if form %}{{ form.username.errors }}{% endif %}
    <label for="username">Benutzername</label>
    <input class="form-control" id="username" name="username" autofocus="true" required="" >
  </div>
  <div class="form-group">
    {% if form %}{{ form.password.errors }}{% endif %}
    <label for="password">Passwort</label>
    <input type="password" class="form-control" id="password" name="password" required="" >
  </div>
  <button type="submit" class="btn btn-primary">Anmelden</button>
  <input type="hidden" name="next" value="{{ next }}" />
</form>

