{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="row">
    <div class="col col-md-8"><h1>Planung für {{ month_name }} {{ year}} </h1></div>
    <div class="col col-md-4">
      <a href="{{ prev.link }}">&lt; {{ prev.name }} </a>
      -
      <a href="{{ next.link }}">{{ next.name }} &gt;</a>
    </div>
  </div>
  <div id="monat_table">
    <div class="row">
      <div class="col col-sm-3 col-md-2">
        Tag
      </div>
      <div class="col col-sm-9 col-md-10">
        <div class="row">
          {% for gang in gaenge %}
            <div class="col col-md-{{ gangbreite }}">{{ gang }}</div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{# ChangePlanungView #}
<div class="modal fade" id="gangModal" tabindex="-1" role="dialog" 
     aria-labelledby="gangModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="gangModalLabel">Planung für …</h5>
        <button type="button" class="close" data-dismiss="modal"
                aria-label="Abbrechen">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col col-md-8">
              <h4><label for="cpv-rezept">Gericht</label></h4>
              <input type="text" id="cpv-rezept" name="cpv-rezept" required
                     size="30"><br>
              <h4><label for="cpv-rezepte">Rezepte</label></h4>
              <select name="cpv-rezepte" id="cpv-rezepte" size="10">
                <option value="1">Reis</option>
                <option value="2">Grießschnittchen</option>
                <option value="3">Eintopf</option>
                <option value="4">Kartoffelsuppe</option>
              </select>
            </div>
            <div class="col col-md-4">
              <h4>Kategorien</h4>
              <div id="cpv-kategorien">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col bg-danger error"></div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Abbrechen</button>
        <button type="submit" class="btn btn-primary submit">Speichern</button>
      </div>
    </div>
  </div>
</div>

{% include "rezepte/monat-templates.html" %}

{% endblock content %}

{% block extrascripts %}
<script src="{% static 'vendor/jquery-ui-1.12.1.custom/jquery-ui.js' %}"></script>
<script src="{% static 'vendor/underscore.js' %}"></script>
<script src="{% static 'vendor/backbone.js' %}"></script>
<script src="{% static 'rezepte/js/models.js' %}"></script>
<script src="{% static 'rezepte/js/views.js' %}"></script>
<script src="{% static 'rezepte/js/changeviews.js' %}"></script>
<script src="{% static 'rezepte/js/main.js' %}"></script>
<script>
  main.initialize_monat({{ data|safe }});
  (new views.MonatView({el: $("#monat_table")[0]})).render();
  new changeviews.ChangePlanungView({el: $("#gangModal")});
</script>
{% endblock extrascripts %}
