{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="row">
    <div class="col">
      <div class="pull-right">
        <a class="btn btn-primary" href="/rezepte/new" role="button">
          Neues Rezept
        </a>
      </div>
      <h1>Rezepte</h1>
      <table class="table">
      {% for g, rs in recipes  %}
        {% if rs %}
          <tr>
            <td colspan="2"><h2>{{ g }}</h2></td>
          </tr>
          {% for r in rs  %}
            <tr>
              <td><a href="{{ r.slug }}">{{ r.titel }}</a></td>
              <td>{{ r.kategorie_list|join:", " }}</td>
              <td>{% if user.is_authenticated %}{{ r.preisToStr|safe }}{% endif %}</td>
            </tr>
          {% endfor %}
        {% endif %}
      {% empty %}
        <tr>
          <td>Es sind noch keine Rezepte eingegeben.</td>
        </tr>
      {% endfor %}
      </table>
    </div>
  </div>
{% endblock content %}
