{% extends "base.html" %}
{% block content %}
  <div class="row">
    <div class="col">
      <h1>{{ recipe.titel }}</h1>
      {% if recipe.untertitel %}
        <p>{{ recipe.untertitel }}</p>
      {% endif %}
      <p>Berechnet für 
        {{ recipe.fuer_kinder }} Kinder und
        {{ recipe.fuer_erwachsene }} Erwachsene
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col col-sm-4 col-md-3">
      <h2>Zutaten</h2>
      {% for rz in zutaten  %}
        <p>
          {% if user_is_editor %}
            <a href="/zutaten/{{ rz.zutat.id }}">{{ rz }}</a>
          {% else %}
            {{ rz }}
          {% endif %}
        </p>
      {% endfor %}
    </div>
    <div class="col col-sm-8 col-md-9">
      <h2>Zubereitung</h2>
      <p>{{ recipe.zubereitung|safe }}</p>
      {% if recipe.anmerkungen and user_is_editor %}
        <h2>Anmerkungen</h2>
        <p>{{ recipe.anmerkungen|safe }}</p>
      {% endif %}

      {% if recipe.allergene %}
        <p>Dieses Rezept enthält folgende Allergene: {{ recipe.get_allergene }} </p>
      {% endif %}

      <div class="row mt-3">
      {% if user_is_editor %}
        <div class="col"><a href="{{ recipe.id }}/edit" class="btn btn-primary" role="button">Bearbeiten</a></div>
      {% endif %}
        <div class="col">Geeignet als {{ recipe.gang_list|join:", " }} </div>
        <div class="col">
        {% if recipe.kategorie_list %}
          Kategorie: {{ recipe.kategorie_list|join:", " }}
        {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% if not recipe.aktiv %}
    <div class="row">
      <div class="col">
        Dieses Rezept wird derzeit nicht geplant.
      </div>
    </div>
  {% endif %}
  {% if user.is_authenticated and request.session.provider_id != request.provider.id %}
    <div class="row">
      <div class="col">
        <a href="{{ recipe.id }}/takeover" class="btn btn-primary" role="button">
          Rezept für {{ request.session.provider_name }} übernehmen
        </a>
      </div>
    </div>
  {% endif %}
{% endblock content %}
