{% extends "base.html" %}
{% load static %}
{% block extrahead %}
  <link rel="stylesheet" href="{% static 'vendor/jquery-ui-1.12.1.custom/jquery-ui.css' %}">
{% endblock extrahead %}
{% block content %}
  <form action="" id="rezept-edit-form" method="post">{% csrf_token %}
  <div class="row">
    <div class="col">
      <table>
        <tr>
          <td colspan="2">{{ form.titel.errors }}</td>
        </tr>
        <tr>
          <td>{{ form.titel.label_tag }}</td>
          <td>{{ form.titel }}</td>
        </tr>
        <tr>
          <td colspan="2">{{ form.untertitel.errors }}</td>
        </tr>
        <tr>
          <td>{{ form.untertitel.label_tag }}</td>
          <td>{{ form.untertitel }}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col col-md-6">
      <table>
        <tr>
          <td colspan="2">{{ form.fuer_kinder.errors }}</td>
        </tr>
        <tr>
          <td colspan="2">{{ form.fuer_erwachsene.errors }}</td>
        </tr>
        <tr>
          <td>
            Für {{ form.fuer_kinder }} Kinder und {{ form.fuer_erwachsene }} Erwachsene.
          </td>
        </tr>
      </table>
      <div id="zutaten">
        <ul id="zutatenliste" class="list-group"></ul>
        <table>
          <tr>
            <th><label for="zutateneingabe">Zutat</label></th>
            <th><label for="mengeneingabe">Menge</label></th>
            <th></th>
          </tr>
          <tr>
            <td><input id="zutateneingabe" name="zutateneingabe" type="text"></td>
            <td><input id="mengeneingabe" name="mengeneingabe" type="text"></td>
            <td id="einheit_fuer_eingabe"></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col col-md-6">
      <div class="editorwindow">
      {{ form.zubereitung.label_tag }}
      {{ form.zubereitung }}
      {{ form.zubereitung.errors }}
      </div>
      <div class="editorwindow">        
      {{ form.anmerkungen.label_tag }}
      {{ form.anmerkungen }}
      {{ form.anmerkungen.errors }}
      </div>
      <div class="inline-list">
        {{ form.gang_list.label_tag }}
        {{ form.gang_list }}
        {{ form.gang_list.errors }}
      </div>
      <div class="inline-list">
        {{ form.kategorie_list.label_tag }}
        {{ form.kategorie_list }}
        {{ form.kategorie_list.errors }}
      </div>
      <div><button class="submit-rezept btn btn-primary" type="button">Speichern</button></div>
    </div>
  </div>
  </form>

{% comment "ChangeZutatView" %}{% endcomment %}
<div class="modal fade" id="zutatModal" tabindex="-1" role="dialog" 
     aria-labelledby="zutatModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <form action="/ajax/add-zutat/" id="add-zutat" method="post">{% csrf_token %}
      <div class="modal-header">
        <h5 class="modal-title" id="zutatModalLabel">Neue Zutat</h5>
        <button type="button" class="close" data-dismiss="modal"
                aria-label="Abbrechen">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col">
                {% with form=zutatenform  %}
                  {% include "rezepte/zutat-form.html" %}
                {% endwith %}
            </div>
          </div>
          <div class="row">
            <div class="col error"></div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Abbrechen</button>
        <button type="submit" class="btn btn-primary submit-zutat">Speichern</button>
      </div>
      </form>
    </div>
  </div>
</div>

{% endblock content %}
{% block extrascripts %}
<script src="{% static 'vendor/jquery-ui-1.12.1.custom/jquery-ui.js' %}"></script>
<script src="{% static 'vendor/underscore.js' %}"></script>
<script src="{% static 'vendor/backbone.js' %}"></script>
<script src="{% static 'rezepte/js/models.js' %}"></script>
<script src="{% static 'rezepte/js/views.js' %}"></script>
<script src="{% static 'rezepte/js/changeviews.js' %}"></script>
<script src="{% static 'rezepte/js/main.js' %}"></script>
{{ form.media }}
<script>
  main.initialize_rezept_edit({
    'zutaten': [{% for zutat in zutaten %}
      {{ zutat.toJson|safe }},
    {% endfor %}],
    'rezeptzutaten': [{% for rz in rezeptzutaten %}
      {{ rz.toJson|safe }},
    {% endfor %}],
  });
</script>
{% endblock extrascripts %}
