{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="row">
    <div class="col">
      {% if msg %}
        <p class="bg-danger">{{ msg }}</p>
      {% endif %}
      {% if user.is_authenticated %}
        <div class="float-right">
          <a class="btn btn-primary" href="/rezepte/new" role="button">
            Neues Rezept
          </a>
        </div>
      {% endif %}
      <h1>Rezepte</h1>
      <div class="row">
      {% for g, kategorien in recipes  %}
        <div class="col-sm">
          <h2>{{ g }}</h2>
          {% for k, rs in kategorien %}
            <h3>{{ k }}</h3>
            {% for r in rs  %}
              <p><a href="{{ r.slug }}">{{ r.titel }}</a></p>
            {% endfor %}
          {% endfor %}
        </div>
      {% empty %}
        <div class="col">Es sind noch keine Rezepte eingegeben.</div>
      {% endfor %}
      </div>
      </table>
    </div>
  </div>
{% endblock content %}
