{% extends "base.html" %}
{% block content %}
  <div class="row">
    <div class="col">
      <h1>{{ recipe.titel }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col col-sm-4 col-md-3">
      <h2>Zutaten</h2>
      {% for rz in zutaten  %}
        <p>
          {% if user.is_authenticated %}
            <a href="/zutaten/{{ rz.zutat.id }}">{{ rz }}</a>
          {% else %}
            {{ rz }}
          {% endif %}
        </p>
      {% endfor %}
    </div>
    <div class="col col-sm-8 col-md-9">
      <h2>Zubereitung</h2>
      <p>{{ recipe.zubereitung|safe }}</p>
      {% if recipe.anmerkungen %}
        <h2>Anmerkungen</h2>
        <p>{{ recipe.anmerkungen|safe }}</p>
      {% endif %}
      <p>Geeignet als {{ recipe.gang_list|join:", " }} </p>
      <p>Kategorie {{ recipe.kategorie.names|join:", " }} </p>

      {% if user.is_authenticated %}
        <p><a href="{{ recipe.id }}/edit" class="btn btn-default" role="button">Bearbeiten</a></p>
      {% endif %}
    </div>
  </div>
{% endblock content %}
