{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="row">
    <div class="col">
      <h1>Zutaten</h1>
    </div>
  </div>
  <div class="row">
    <div class="col col-lg-6">
      <table class="table">
        <tr>
          <th>Name</th>
          <th class="text-right">Preis</th>
          <th class="text-right">Menge</th>
          <th>Kategorie</th>
        </tr>
      {% for z in zutaten  %}
        <tr>
          <td><a href="{{ z.id }}">{{ z.name }}</a></td>
          <td class="text-right">{{ z.preisInEuro }} &euro;</td>
          <td class="text-right">{{ z.menge_pro_einheit }} {{ z.masseinheit }} </td>
          <td>{{ z.kategorie }} </td>
        </tr>
      {% empty %}
        <tr>
          <td>Es sind noch keine Zutaten eingegeben.</td>
        </tr>
      {% endfor %}
      </table>
    </div>
    <div class="col col-lg-6">
      <h2>{% if zutat_id %}Zutat bearbeiten {% else %}Neue Zutat {% endif %}</h2>
      <form action="{{ zutat_id }}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
      </form>
    </div>
  </div>
{% endblock content %}
