{% extends "base.html" %}
{% load static %}
{% block title %}Zutat bearbeiten - {{ request.provider.name }}{% endblock title %}
{% block content %}
  <form action="{{ zutat_id }}" method="post">{% csrf_token %}
  <div class="row">
    <div class="col">
      <h2>{% if zutat_id %}Zutat bearbeiten {% else %}Neue Zutat {% endif %}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col col-md-6">
      {% include "rezepte/zutat-form.html" %}
    </div>
    <div class="col col-md-6">
      <h3>Allergene</h3>
      {% for key, label in allergene %}
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="{{ key }}"
           name="allergen_{{ key }}" id="id_allergen_{{ key }}"
           {% if key in zutat.allergene %}
             checked="checked" 
           {% endif %}
           >
          <label class="form-check-label" for="id_allergen_{{ key }}">
          {{ label }}</label>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div>
        <button type="submit" value="Speichern" class="btn btn-primary">Speichern</button>
      </div>
      {% if rezepte %}
        <div>
          <h2>{{ zutat.name }} wird in diesen Rezepten verwendet:</h2>
          {% for r in rezepte %}
            {% if request.client.mult_providers %}
              {% ifchanged  %}
                <h4>{{ r.provider.name }}</h4>  
              {% endifchanged %}
            {% endif %}
            <p class="mb-1"><a href="{{ r.get_absolute_url }}">{{ r.titel }}</a></p>
          {% endfor %}
        </div>
      {% elif zutat_id %}
        <div>{{ zutat.name }} wird zur Zeit in keinem Rezept verwendet.</div>
        <div>
          <form action="/zutaten/delete" method="post">{% csrf_token %}
            <input type="hidden" name="zutat_id" value="{{ zutat.id }}">
            <button type="submit" class="btn btn-warning" >Löschen</button>
          </form>
        </div>
      {% endif %}
    </div>
  </div>
  </form>
{% endblock content %}
